@charset "UTF-8";

.hamb {
    position: relative;
}
.hamb .menu-item a {
    display: inline-block;
    position: relative;
    padding-bottom: 0px;
    transition: color .35s ease;
}

.hamb .menu-item a:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    transition: width 0s ease, background .35s ease;
}

.hamb .menu-item a:after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background: #000;
    transition: width .35s ease;
}

.hamb .menu-item a:hover:before {
    width: 100%;
    background: #000;
    transition: width .35s ease;
}

.hamb .menu-item a:hover:after {
    width: 100%;
    background: transparent;
    transition: all 0s ease;
}

.hamb .side-menu-holder {
    background: #f6f6f6;
    transition: all 0.3s ease;
}
.hamb .menu-right-close.menu-right-open .side-menu-holder,
.hamb .side-menu-holder {
    max-height: 0;
    opacity: 0;

}
.hamb .menu-right-open .side-menu-holder {
    max-height: 9999px;
    opacity: 1;
}

.hamb ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.hamb  ul li {
    margin-left: 0;
}


.hamb ul li a {
    display: block;
}


.hide-nav {
    transform: translateY(-120%) !important;
    -webkit-transform: translateY(-120%) !important;
}

.hamb .menu-item-has-children .sub-menu {
    position: relative;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.hamb .menu-item-has-children .collapsed + .sub-menu{
    display: block;
    max-height: 100%;
    overflow: hidden;
    z-index: 10;
    max-height: 0;
    opacity: 0;
}


.hamb .menu-item-has-children .expanded + .sub-menu {
    max-height: 100% !important;
    opacity: 1;
}

.hamb .menu-item-has-children:before {
    content: '';
    display: table;
    clear: both;
}


.hamb .uc-menu-item-pointer {
    position: absolute;
    top: 12px;
    right: -15px;
}
.hamb .uc-menu-item-pointer:before,
.hamb .uc-menu-item-pointer:after {
    position: absolute;
    content: '';
    display: block;
    width: 7px;
    height: 1px;
    background: #000;
    border-radius: 2px;
    transition: all 0.3s ease-in-out;
}
.hamb .uc-menu-item-pointer:before {
    right: -1px;
}
.hamb .uc-menu-item-pointer:after {
    left: -1px;
}
.hamb .collapsed .uc-menu-item-pointer:before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.hamb .collapsed .uc-menu-item-pointer:after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.hamb .expanded .uc-menu-item-pointer:before {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.hamb .expanded .uc-menu-item-pointer:after {
    transform: translate(-50%, -50%) rotate(45deg);
}







.hamb .open_side_menu {
    position: relative;
    display: block;
    border-radius: 5px;
    background-color: transparent;
    height: 38px;
    width: 38px;
    cursor: pointer;
    padding: 8px 8px;
}
.uc-side-menu-wrapper {
    position: absolute;
    top: 100%;
}
.uc-close-action .nav-toggle span:first-child {
    transform: rotate(45deg) translate(4.4px, 4.4px);
}

.uc-close-action .nav-toggle span:nth-child(2) {
    width: 0%;
    opacity: 0;
}

.uc-close-action .nav-toggle span:last-child {
    transform: rotate(-45deg) translate(4.4px, -4.4px);
}

.nav-toggle span {
    position: relative;
    display: block;
    height: 2px;
    width: 100%;
    margin-top: 4px;
    background-color: #000;
    transition: all .25s;
}


/* @media */

@media (min-width: 1201px) {

}


@media (max-width: 1600px) {

}


@media (max-width: 1440px) {
    
}

@media (max-width: 1400px) {
 
}


@media (max-width: 1200px) {
 
}


@media (max-width: 991px) {
 
}

@media (max-width: 767px) {

}


@media (max-width: 425px) {

}

@media (max-width: 320px) {

}


/* container break-points */



/* /cont. break-points end */ 

/* @media */












